.wetermeterBill{
	background-color: #FCFCFC;
}
.wetermeterBill{
	margin-top: 10px;
}
.wetermeterBill-title{
	padding: 5px 12px;
	box-sizing: border-box;
}
.wetermeterBill-title,
.account-name{
	border-bottom: 1px solid #E6E6E6;
}
.icon-wetermeter{
	width: 38px;
}
.icon-wetermeter,
.wetermeterBill-name{
	vertical-align: middle;
}
.account-name{
	padding: 0 15px;
	box-sizing: border-box;
}
.account-number{
	padding: 10px 0 5px 0;
	box-sizing: border-box;
}
.elsa{
	padding: 5px 0 10px 0;
	box-sizing: border-box;
}
.elsa-info,
.content-gray{
	color: #A8A8A8;
}
.wetermeterBill-content{
	padding-left: 15px;
	box-sizing: border-box;
}
.content-group{
    padding: 9px 15px 9px 0;
    box-sizing: border-box;
}
.content-group + .content-group{
	border-top: 1px solid #E6E6E6;
}
.content-gray{
	float: right;
}
.wetermeterBill-default{
	padding: 30px 15px;
	box-sizing: border-box;
}
.wetermeterBill-btn{
	width: 100%;
	height: 42px;
	line-height: 42px;
	border-radius: 4px;
	background-color: #20A4EF;
	color: #fff;
	text-align: center;
	font-size: 15px;
}